registry=https://pkgs.dev.azure.com/antonov/_packaging/iobroker/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 1/15/2020.
; begin auth token
//pkgs.dev.azure.com/antonov/_packaging/iobroker/npm/registry/:username=iobroker
//pkgs.dev.azure.com/antonov/_packaging/iobroker/npm/registry/:_password=ZDN3YTU3enE2cXZqbmV5b3U1a2hpYXE0ajV0dG52bmxxbXBxZnhsYnJyY3k0bjZya3VhYQ==
//pkgs.dev.azure.com/antonov/_packaging/iobroker/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/antonov/_packaging/iobroker/npm/:username=iobroker
//pkgs.dev.azure.com/antonov/_packaging/iobroker/npm/:_password=ZDN3YTU3enE2cXZqbmV5b3U1a2hpYXE0ajV0dG52bmxxbXBxZnhsYnJyY3k0bjZya3VhYQ==
//pkgs.dev.azure.com/antonov/_packaging/iobroker/npm/:email=npm requires email to be set but doesn't use the value
; end auth token